<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="text-center">
            <img src="/images/logo.png" alt="Logo"/>
        </div>
        <p>
            Hello. You're here to experiment a new secured chat.
            All messages are encrypted by RSA mechanism and by a system of private and public keys.<br/>
            This system has been created for IUT A of Lille 1.<br/><br/>

            This project has been brought for you by Pierre BOURGEOIS and Alexandre COURAND.
        </p>

        <p>
            <a class="btn btn-lg btn-primary" href="#/room/create" role="button">Create a room</a>
        </p>


    </div>

</div> <!-- /container -->